@{
    ViewBag.Title = "Página Principal";
}

@section styles
{
    <!-- Morris Charts CSS -->
    <link href="/Content/morris.css" rel="stylesheet">
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Resumen de ultimos 6 meses
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-area-chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6">

        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@ViewBag.ComprasDiarias - @String.Format("{0:C}", ViewBag.ImporteComprasDiarias)</div>
                            <div>Compras!</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Compras")">
                    <div class="panel-footer">
                        <span class="pull-left">Ver detalles</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-usd fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@ViewBag.VentasDiarias - @String.Format("{0:C}", ViewBag.ImporteVentasDiarias)</div>
                            <div>Ventas!</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index","Ventas")">
                    <div class="panel-footer">
                        <span class="pull-left">Ver detalles</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> 10 Menus mas vendidos
            </div>
            <div class="panel-body">
                <div id="morris-donut-chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
@section SeccionDerecha
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
            <p class="parrafo_derecha">&nbsp;Pagina inicial</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-justify contenido_derecho_descripcion">
            <p>
                Dia contable: @ViewBag.DiaContable.Fecha.ToShortDateString()
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <a id="cierreDia" class="col-md-12 col-sm-12 col-xs-12 btn btn-default">Cierre del Día</a>
        </div>
    </div>
    @*<div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-justify contenido_derecho_descripcion">
                <p>
                    Registre la asistencia aqui<i class="glyphicon glyphicon-arrow-down"></i>
                </p>
            </div>
        </div>*@
    @*<div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <a class="col-md-12 col-sm-12 col-xs-12 btn btn-default" href="@Url.Action("Index","ControlDeAsistencia")">Registrar asistencia</a>
            </div>
        </div>*@
}

<!-- MODAL AGREGAR MENU -->
<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 id="modal-title" class="modal-title">Cierre del dia</h4>
            </div>
            <div id="modal-detalle" class="modal-body">
                <p id="mensaje-cierre">Esta seguro que desea cerrar el día?</p>
            </div>

            <div class="modal-footer">
                <a id="btn-cierre" class="btn btn-success col-md-2 col-md-offset-7" href="@Url.Action("CerrarPeriodo","PeriodoContable")">Aceptar</a>
                <button type="button" class="btn btn-danger col-md-2" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- TERMINA MODAL AGREGAR MENU -->

@section scripts
{
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/mbs-qdtf.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/Scripts/raphael-min.js"></script>
    <script src="/Scripts/morris.min.js"></script>
    @*<script src="/Scripts/morris-data.js"></script>*@
    <script>
        $(document).ready(function() {
            $("#cierreDia").click(function() {
                $.get('@Url.Action("VentasPendientes","PeriodoContable")', function(result) {
                    if (!result) {
                        $('#btn-cierre').hide();
                        $('#mensaje-cierre').html("No se puede cerrar porque existen comandas sin pagar");
                    } 
                    $("#modal").modal();
                });
                
            });

            Morris.Area({
                element: 'morris-area-chart',
                data: @Html.Raw(Json.Encode(ViewBag.Finanzas)),
                xkey: 'period',
                ykeys: ['gastos', 'ingresos'],
                labels: ['Gastos', 'Ingresos'],
                xLabelFormat: function(period) {
                    return period.getDate()+'/'+(period.getMonth()+1)+'/'+period.getFullYear(); 
                },
                dateFormat: function(period) {
                    var d = new Date(period);
                    return d.getDate()+'/'+(d.getMonth()+1)+'/'+d.getFullYear(); 
                },
                pointSize: 2,
                hideHover: 'auto',
                resize: true
            });

            Morris.Donut({
                element: 'morris-donut-chart',
                data: @Html.Raw(Json.Encode(ViewBag.MasVendidos)),
                resize: true
            });
        });

    </script>
}
