@using ErpMvc.Models
@using ErpMvc.ViewModels
@model ProductoConcretoViewModel

@{
    ViewBag.Title = "productos";
}

<hr />

<h1 class="message-body">
    Existencia Total: @String.Format("{0} {1}",Model.Existencias.Sum(e => e.Cantidad), Model.Producto.UnidadDeMedida.Siglas)
</h1>

<table class="table dynamic">
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Lugar</th>
        <th>Cantidad</th>
        <th>Detalle</th>
        <th>Usuario</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movimientos)
        {
            <tr>
                <td>@item.Fecha</td>
                <td>@item.TipoDeMovimiento</td>
                <td>@item.Lugar</td>
                <td>@String.Format("{0} {1}", Math.Round(item.Cantidad, 2), item.Unidad)</td>
                <td>@item.Detalle</td>
                <td>@item.Usuario</td>

            </tr>
        }
    </tbody>
</table>

@section SeccionDerecha
{
    
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/mbs-qdtf.js"></script>
    <script>
        $(document).ready(function () {
            $('btn').tooltip();
        });
    </script>
}
