@using ErpMvc.Models
@using ErpMvc.ViewModels
@model ProductoConcretoViewModel

@{
    ViewBag.Title = "productos";
}

<hr />
@if (TempData["exito"] != null)
{
    <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Éxito!</strong> @TempData["exito"]
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>ERROR!</strong> @TempData["error"]
    </div>
}

<h1 class="message-body">
    Existencia Total: @String.Format("{0} {1}",Model.Existencia.Cantidad, Model.Producto.UnidadDeMedida.Siglas)
</h1>

<table class="table dynamic">
    <thead>
        <tr>
            <th>Movimiento</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movimientos)
        {
            <tr>
                <td>@item.Tipo.Descripcion</td>
                <td>@item.DiaContable.Fecha.ToShortDateString()</td>
                <td>@String.Format("{0} {1}",Math.Round(item.Cantidad,2), item.Producto.UnidadDeMedida.Siglas)</td>
                <td>@item.Usuario.UserName</td>
                
            </tr>
        }
    </tbody>
</table>

@section SeccionDerecha
{
    
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/mbs-qdtf.js"></script>
    <script>
        $(document).ready(function () {
            $('btn').tooltip();
        });
    </script>
}
