@using ErpMvc.Models
@using ErpMvc.ViewModels
@model IEnumerable<ProductoConcretoViewModel>

@{
    ViewBag.Title = "Inventario Centro de costo";
}

<h2>@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-md-4 col-sm-4 text-right">
        Centro de costo
    </div>
    <div class="col-md-8 col-sm-8">
        @Html.DropDownList("CentroDeCostoId", null, String.Empty, new { @class = "form-control select" })
    </div>
</div>

<div id="inventario-list">

</div>


@section SeccionDerecha
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
            <p class="parrafo_derecha"><i class="glyphicon glyphicon-glass icono_derecha"></i>&nbsp;Inventario</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-justify contenido_derecho_descripcion">
            <p>Seleccione el centro de costo del cual quiere ver la relacion de productos.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-justify contenido_derecho_descripcion">
            <p>Puede verificar el inventario en almacen.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <a class="btn btn-default col-md-12 col-sm-12 col-xs-12" href="@Url.Action("Almacen","Inventario")">En Almacenes</a>
            <br/>
            <a class="btn btn-default col-md-12 col-sm-12 col-xs-12" href="@Url.Action("MoverEntreCentrosDeCosto","Inventario")">Traslado entre centros de costo</a>
            <br/>
            <a class="btn btn-default col-md-12 col-sm-12 col-xs-12" href="@Url.Action("TramitarSalida","Productos")">Dar salida por Merma</a>
            <br />
            <img class="imagen_derecho img-thumbnail" src="@Url.Content("~/Content/images/productos.jpg")" />
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/mbs-qdtf.js"></script>
    <script>
        $(document).ready(function () {
            $('btn').tooltip();

            $(document).on('change', '#CentroDeCostoId', function () {
                var id = $("#CentroDeCostoId option:selected").val();
                $("#inventario-list").load('@Url.Action("ProductosEnCentroDeCosto")' + '/' + id, function() {
                    $(".dynamic").DataTable({
                        "lengthMenu": [[20, 25, 30, 50, 100, -1], [20, 25, 30, 50, 100, "Todos"]],
                        "language": {
                            "paginate": {
                                "first": "Primera",
                                "previous": "Anterior",
                                "next": "Siguiente",
                                "last": "&Uacute;ltima"
                            },
                            "info": "Mostrando resultados del _START_ al _END_ de un total de _TOTAL_",
                            "lengthMenu": "Mostrando _MENU_ resultados",
                            "search": "Buscar: ",
                            "infoEmpty": "Mostrando 0 resultados",
                            "infoFiltered": "(filtrado de un total de _MAX_ resultados)",
                            "sZeroRecords": "No se encontraron resultados con este criterio"
                        },
                        "pagingType": "full_numbers",
                        "columnDefs": [
                            { "orderable": false, "targets": colums - 1 }
                        ],
                        "order": [[0, "desc"]],
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'print',
                                text: 'Imprimir'
                            }
                        ]
                    });
                });
            });
        });
    </script>
}
