@model ErpMvc.ViewModels.MovimientoProductosViewModel

@{
    ViewBag.Title = "Mover entre centros de costo";
}

<h1 class="message-body">@ViewBag.Title.</h1>

@using (Html.BeginForm("MoverEntreCentrosDeCosto", "Inventario", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
    <div class="col-md-12" id="movimientoProductoController" ng-controller="movimientoProductoController">

        <div class="form-group">
            @Html.LabelFor(m => m.OrigenId, "Desde", new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.DropDownList("OrigenId", null, new { @class = "form-control", @ng_model = "origenId", @chosen = "", @ng_change = "cambiarOrigen()" })
                @Html.ValidationMessageFor(m => m.OrigenId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DestinoId, "A", new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                <select class="form-control" name="DestinoId" chosen ng-model="destinoId" ng-options="centro.Nombre for centro in centrosDestino track by centro.Id">
                    <option></option>
                </select>
                @Html.ValidationMessageFor(m => m.DestinoId)
            </div>
        </div>
        <div class="form-group">
            @{
                Html.RenderPartial("_DetalleMovimientoPartial", ViewData);
            }
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                @Html.ActionLink("Atrás", "CentroDeCosto", "Inventario", null, new { @class = "btn btn-default" })
                <input id="comprar-btn" type="submit" class="btn btn-success" value="Mover" />
            </div>
        </div>
    </div>
                }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/erp/movimientoProductoController.js"></script>
    <script>
        $(document).ready(function () {
            $(".select").chosen();

            $('.nuevo').tooltip();

            $('#comprar-btn').click(function () {
                $('#form-detalle-compra').remove();
            });
        });
    </script>
}