@using AlmacenCore.Models
@model IEnumerable<ErpMvc.ViewModels.DetalleMovimientoProductoViewModel>
@{
    var saldoInicial = ViewBag.SaldoAnterior;
    var saldo = saldoInicial;
}
<p class="text-right"><strong>Saldo Anterior: </strong>@ViewBag.SaldoAnterior</p>
<table id="resumen-mov-tabla" class="table">
    <thead>
        <tr>
            <th class="col-md-3">Fecha</th>
            <th class="col-md-3">Tipo</th>
            <th class="col-md-2">Lugar</th>
            <th>Cantidad</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mov in Model)
        {
            saldo += mov.Cantidad;
            <tr>
                <td><span class="hidden">@mov.Fecha.Ticks</span>@mov.Fecha</td>
                <td>@mov.TipoDeMovimiento</td>
                <td>@mov.Lugar</td>
                <td>@mov.Cantidad @mov.Unidad</td>
                <td>@saldo</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Movimientos</td>
            <td>
                Entradas: @Model.Where(m => m.TipoDeMovimiento == TipoDeMovimientoConstantes.Entrada).Sum(m => m.Cantidad)
                <br /> Entrada traslado: @Model.Where(m => m.TipoDeMovimiento == TipoDeMovimientoConstantes.EntradaTrasladoInterno).Sum(m => m.Cantidad)
                <br /> Entradas Ajustes: @Model.Where(m => m.TipoDeMovimiento == TipoDeMovimientoConstantes.EntradaPorAjuste || m.TipoDeMovimiento == TipoDeMovimientoConstantes.EntradaPorErrorDeSalida).Sum(m => m.Cantidad)
                <br /> Ventas: @Model.Where(m => m.TipoDeMovimiento == TipoDeMovimientoConstantes.SalidaAProduccion).Sum(m => m.Cantidad) *
                <br /> Salidas traslado: @Model.Where(m => m.TipoDeMovimiento == TipoDeMovimientoConstantes.SalidaTrasladoInterno).Sum(m => m.Cantidad)
                <br /> Salidas Ajustes: @Model.Where(m => m.TipoDeMovimiento == TipoDeMovimientoConstantes.SalidaPorAjuste || m.TipoDeMovimiento == TipoDeMovimientoConstantes.SalidaPorErrorDeEntrada).Sum(m => m.Cantidad)
                <br /> Mermas: @Model.Where(m => m.TipoDeMovimiento == TipoDeMovimientoConstantes.Merma).Sum(m => m.Cantidad)
            </td>
            <td></td>
            <td>Saldo final</td>
            <td>@(ViewBag.SaldoAnterior + Model.Sum(m => m.Cantidad)) @(Model.Any() ? Model.FirstOrDefault().Unidad : "")</td>
        </tr>
    </tfoot>
</table>
