
@{
    ViewBag.Tittle = "Rep Compras";
}

@using (Html.BeginForm("ComprasConComprobante", "Reportes", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="formpanel panel-default">
        <div class="panel-heading">
            <h3 class="text-center">Ver compras del mes</h3>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.Label("Mes", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Mes", null, new { @class = "form-control" })
                        @Html.ValidationMessage("Mes")
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <div class="form-group">
                    <input type="submit" value="Generar reporte" class="btn btn-success" id="reporte-btn" />
                </div>
            </div>
        </div>
    </div>
}

<div id="resumen">

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/mbs-qdtf.js"></script>
    <script>
        $(document).ready(function () {
            $(".select").chosen();
            $('#FechaInicio').val("");
            $('#FechaFin').val("");

        });

        function completo() {
            $('#reporte-btn').attr('disabled', false);
        }

        function empezando() {
            $('#reporte-btn').attr('disabled', true);
            $('#resumen').html("");
        }

        function fallido() {
            $('#resumen').append("<p> No existe movimientos</p>");
        }
    </script>
}
