
@{
    ViewBag.Title = "Inventario";
}

<h2>Inventario</h2>

<h3>Seleccione de donde quiere ver el inventario</h3>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("OrigenId", "Desde", new {@class = "col-md-4 control-label"})
        <div class="col-md-8">
            @Html.DropDownList("OrigenId", null, new {@class = "form-control"})
            @Html.ValidationMessage("OrigenId")
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Fecha", "Fecha", new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBox("Fecha", null, new { @class = "form-control datepicker" })
            @Html.ValidationMessage("Fecha")
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
           <input type="submit" class="btn btn-success" value="Ver reporte" />
        </div>
    </div>
}