@model ErpMvc.ViewModels.ParametrosViewModel

@{
    ViewBag.Tittle = "Visitas en periodo";
}

@using (Html.BeginForm("Operaciones", "Reportes", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="formpanel panel-default">
        <div class="panel-heading">
            <h3 class="text-center">Generar reporte de operaciones</h3>
        </div>
        <div class="panel-body">
            @*<p class="alert-success"><strong>Nota:</strong> Utilice los diferentes filtros de búsqueda para obtener la información que desee</p>*@

            <div class="form-horizontal">
                @Html.ValidationSummary(true)

               <div class="form-group">
                    @Html.LabelFor(model => model.FechaInicio, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FechaInicio)
                        @Html.ValidationMessageFor(model => model.FechaInicio)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaFin, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FechaFin)
                        @Html.ValidationMessageFor(model => model.FechaFin)
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer text-right">
            <div class="form-group">
                <input type="submit" value="Generar reporte" class="btn btn-success" />
                <a class="btn btn-info" href="@Url.Action("Index","Inicio")">Cancelar</a>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".select").chosen();
            $('#FechaInicio').val("");
            $('#FechaFin').val("");
            
        });
    </script>
}
