@using ErpMvc.Models
@model Comanda
@{
    ViewBag.Title = "Editar comanda";
}
<div ng-controller="comandasController">
    @using (Html.BeginForm("Editar", "Comandas", FormMethod.Post, new { @id = "venta-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.DiaContableId)
        @Html.HiddenFor(model => model.Fecha)
        @Html.HiddenFor(model => model.EstadoDeVenta)

        <div class="row padding0px">
            @if (!User.IsInRole(RolesMontin.Vendedor) || !User.IsInRole(RolesMontin.CapitanDeSalon))
            {
                <div class="col-md-5 col-sm-12 col-xs-12 padding0px">
                    <div class="row padding0px">
                        <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                            Dependiente
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12 padding0px">
                            @Html.DropDownList("VendedorId", null, new { @class = "form-control select" })
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-4 col-sm-7 col-xs-7 padding0px">
                <div class="row padding0px">
                    <div class="col-md-6 col-sm-12 col-xs-12 text-right">
                        Posicion
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        @Html.DropDownList("PuntoDeVentaId", null, new {@class = "form-control select"})
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-5 col-xs-5 padding0px">
                <div class="row padding0px">
                    <div class="col-md-3 col-sm-12 col-xs-12 text-right">
                        Pax
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        @Html.TextBoxFor(model => model.CantidadPersonas, new {@class = "form-control", @ng_model = "cantidadComensales", @ng_change = "cambiarCantidadDeComensales()"})
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div id="tabla-detalle-de-venta">
                <div>
                    @{
                        Html.RenderAction("DetalleDeComanda");
                    }
                </div>
                <!-- MODAL AGREGADOS -->
                <div id="modal-agregados" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
                    <div class="modal-dialog">
                        <div class="modal-content" id="agregados-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 id="modal-title" class="modal-title">Agregados del menú</h4>
                            </div>
                            <div id="modal-detalle" class="modal-body">
                                <div class="container">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="col-md-6"></th>
                                                <th class="col-md-6"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="a in agregados">
                                                <td class="col-md-6">{{a.Nombre}}</td>
                                                <td class="col-md-6">
                                                    <a class="btn btn-primary btn-sm rest-menu" ng-disabled="menosADisabled" ng-click="disminuirAgregado(a)">
                                                        <i class="glyphicon glyphicon-minus-sign"></i>
                                                    </a>
                                                    <label class="cantidad-menu">{{ cantidadAgregado(a) }}</label>
                                                    <a class="btn btn-primary btn-sm add-menu" ng-disabled="masADisabled" ng-click="aumentarAgregado(a)">
                                                        <i class="glyphicon glyphicon-plus-sign"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- TERMINA MODAL AGREGADOS -->
                <!-- MODAL ORDEN -->
                <div id="modal-orden" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
                    <div class="modal-dialog">
                        <div class="modal-content" id="orden-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 id="modal-title" class="modal-title">Orden de comensales</h4>
                            </div>
                            <div id="modal-detalle" class="modal-body">
                                <div class="container">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <div class="col-md-12" ng-repeat="orden in ordenes">
                                                    <input type="checkbox" name="selectedOrdenes[]" value="{{orden.Orden.Numero}}" ng-checked="detalleActual.Ordenes.indexOf(buscarOrdenDetalle(detalleActual,orden)) > -1"
                                                           ng-click="toggleOrdenSelection(orden)">
                                                    <label ng-click="selectOrden(orden)" style="margin-left: 20px"> <strong class="text-center"> {{orden.Numero}}</strong> </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <p class="text-center">Seleccionado comensal # {{ordenActual.Orden.Numero}}</p>
                                                    </div>
                                                </div>
                                                <select class="form-control" ng-options="comensal.Nombre for comensal in comensales track by comensal.Id" ng-model="ordenActual.Orden.Comensal"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12" ng-repeat="anotacion in anotaciones" ng-show="detalleActual.Ordenes.indexOf(ordenActual) > -1">
                                                <label>
                                                    <input type="checkbox" name="selectedAnotaciones[]" value="{{anotacion.Id}}" ng-checked="isCheckedAnotacion(anotacion)"
                                                           ng-click="toggleAnotacionesSelection(anotacion)"> {{anotacion.Abreviatura}} ({{anotacion.Descripcion}})
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- TERMINA MODAL ORDEN -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <button id="submit-btn" type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>
        </div>
                        }
</div>

@section SeccionDerecha
{
    <div class="row">
        <div class="contenido_derecho_titulo">
            <p class="parrafo_derecha">Editar Comanda</p>
        </div>
    </div>
    <div class="row">
        <div class="contenido_derecho_descripcion">
            <p>
                Los cambios en el detalle de la venta (la relacion de menus vendidos) se efectuaran de inmediato.
                Si guarda los cambios lo que se guardaran son los cambios en datos generales, como el dependiente o el lugar donde se vendió
            </p>
        </div>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/mbs-qdtf.js"></script>
    <script src="~/Scripts/erp/menu.js"></script>
    <script src="~/Scripts/erp/comandasController.js"></script>
    <script>
        $(document).ready(function() {
            $('btn').tooltip();

            $('#submit-btn').click(function() {
                $('#form-detalle-compra').remove();
            });

            var detalles = @Html.Raw(Json.Encode(Model.Detalles.Select(e => new {
                          e.Id, e.ElaboracionId, Elaboracion = new {e.Elaboracion.Nombre, e.Elaboracion.Id,
                              e.Elaboracion.Costo}, e.ComandaId, e.Cantidad,
                          Agregados = e.Agregados.Where(a => a.Cantidad > 0).Select(a => new
                          {
                              Id = a.AgregadoId,
                              a.DetalleDeComandaId,
                              a.Cantidad,
                              a.Agregado.Producto.Nombre
                          }),
                          Ordenes = e.Ordenes.Select(o => new
                          {
                              Id = o.Id,
                              Orden = new {Id = o.OrdenId, Numero = o.Orden.Numero, Comensal = new {Id = (int)o.Orden.Comensal, Nombre = o.Orden.Comensal.ToString() } },
                              Anotaciones = o.Anotaciones.Select(a => new
                              {
                                  Id= a.Id,
                                  a.Abreviatura,
                                  a.Descripcion
                              })
                          }),
                      })));

            var ordenes = @Html.Raw(Json.Encode(Model.Detalles.SelectMany(e => e.Ordenes.Select(o => new { Id = o.OrdenId, Numero = o.Orden.Numero, Comensal = new { Id = (int)o.Orden.Comensal, Nombre = o.Orden.Comensal.ToString() } }))));
            angular.element('#tabla-detalle-de-venta').scope().cantidadComensales = @Model.CantidadPersonas;
            angular.element('#tabla-detalle-de-venta').scope().detalles = detalles;
            angular.element('#tabla-detalle-de-venta').scope().ordenes = ordenes;
            angular.element('#tabla-detalle-de-venta').scope().$apply();
        });
    </script>
}
