@model ErpMvc.Models.OtrosGastos

@{
    ViewBag.Title = "Nuevo gasto";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Agregar", "OtrosGastos", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            @{
                Html.RenderAction("DiaContable", "PeriodoContable");
            }
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConceptoDeGastoId, "Concepto", new {@class = "col-md-4 control-label"})
            <div class="col-md-8">
                @Html.DropDownList("ConceptoDeGastoId", null, new {@class = "form-control select"})
                @Html.ValidationMessageFor(m => m.ConceptoDeGastoId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Importe, new {@class = "col-md-4 control-label"})
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Importe, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Importe)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PagadoPorCaja,"Pagar por caja", new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.CheckBoxFor(m => m.PagadoPorCaja, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PagadoPorCaja)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                @Html.ActionLink("Atrás", "Index", null, new {@class = "btn btn-default"})
                <input type="submit" class="btn btn-success" value="Crear"/>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
