@model IEnumerable<ErpMvc.ViewModels.SeleccionViewModel>
@{
    ViewBag.Title = "Compras";
}

<h2>Compras por dia</h2>

<table class="table">
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Ventas</th>
        <th>Importe</th>
        <th>CUC</th>
        <th>MN</th>
        <th>%</th>
        <th>Con Comprobante</th>
        <th>Sin Comprobante</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td><span class="hidden">@item.DiaContable.Fecha.Ticks</span> @item.DiaContable.Fecha.ToShortDateString()</td>
            <td class="text-right">@item.Ventas</td>
            <td class="text-right">@item.Importe</td>
            <td class="text-right">@item.ImporteSeleccionado</td>
            <td class="text-right">@(item.ImporteSeleccionado * 24)</td>
            <td>@item.PorCientoPorVentas</td>
            <td>@item.PorCientoComprobante</td>
            <td>@item.PorCientoSinComprobante</td>
            <td>
                <a class="btn btn-default" href="@Url.Action("SeleccionarCompras", "Seleccion", new {Id = item.DiaContable.Id})">Seleccionar</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/mbs-qdtf.js"></script>

    <script>
        $(document).ready(function () {
            declareDatatable('.table', [[0, "desc"]]);
            $('btn').tooltip();
            

            $(document).on('click', ".prod-comprados-btn", function () {
                var id = $(this).attr("data-id");
                $("#modal-detalle").load("@Url.Action("Compras")" + "/" + id, function () {
                    mostrarModal();
                });
            });

        });

        function mostrarModal() {
            $("#modal").modal('show');
        }

    </script>
}
