
@model IEnumerable<CompraVentaCore.Models.Compra>
@{
    ViewBag.Title = "Seleccion de Compras";
}

@{
    var compras = Model.Sum(c => c.Productos.Sum(p => p.ImporteTotal));
    var porciento = compras*100/ViewBag.Ventas;
}

<h2>Seleccion de Compras</h2>
<div id="seleccionComprasController" ng-controller="seleccionComprasController">
    <h1 class="message-body ">Compras del Día @Model.FirstOrDefault().DiaContable.Fecha.ToShortDateString(): @String.Format("{0:C}", Model.Sum(v => v.Productos.Sum(p => p.ImporteTotal)))</h1>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <p> Ventas seleccionadas</p>
            <p><strong id="ventas">@String.Format("{0:C}", ViewBag.Ventas)</strong>
            </p>
        </div>
        <div class="col-md-3">
            <p> Compras seleccionadas</p>
            <p><strong id="compras-seleccionadas">@String.Format("{0:C}", compras)</strong></p>
        </div>
        <div class="col-md-3">
            <p> Por Ciento</p>
            <p><strong id="porciento">@porciento</strong></p>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Comprobante?</th>
                        <th>Lugar</th>
                        <th>Productos</th>
                        <th>Importe</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var compra in Model)
                    {
                        <tr>
                            <td>@compra.Fecha.ToShortDateString()</td>
                            <td>@compra.TieneComprobante</td>
                            <td>@compra.Entidad.Nombre</td>
                            <td>
                                @foreach (var prod in compra.Productos)
                                {
                                    <span>@String.Format("{0} - Cant: {1} {2} - {3:C}", prod.Producto.Nombre, prod.Cantidad, prod.UnidadDeMedida.Siglas, prod.ImporteTotal)</span><br />
                                }
                            </td>
                            <td>@String.Format("{0:C}", compra.Productos.Sum(p => p.ImporteTotal))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <a class="btn btn-default" href="@Url.Action("Compras")">Atras</a>
            <input type="submit" class="btn btn-success" value="Guardar" />
        </div>

    }
</div>
