@using View = System.Web.UI.WebControls.View
@model IEnumerable<ErpMvc.ViewModels.ResumenDeOperaciones>


    <h1 class="message-body " style="margin-bottom: 0px;">
        Efectivo Inicial: @String.Format("{0:C}",ViewBag.ImporteAnterior)
    </h1>
    <h1 class="message-body " style="margin-top: 0px;">
        Efectivo Final: @String.Format("{0:C}", ViewBag.ImporteAnterior + Model.Sum(m => m.Importe))
    </h1>
<hr/>
<table class="table dynamic">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Operacion</th>
            <th>Importe</th>
            <th>Usuario</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var op in Model)
        {
            <tr>
                <td>
                    @op.Fecha
                </td>
                <td>@op.Tipo</td>
                <td>
                    @string.Format("{0:C}", op.Importe)
                </td>
                <td>@op.Usuario</td>
                <td class="col-md-4">
                    @op.Detalle
                </td>
            </tr>
        }
    </tbody>
</table>
