@model IEnumerable<ErpMvc.ViewModels.ResumenDeOperaciones>


    <h1 class="message-body " style="margin-bottom: 0px;">
        Efectivo Inicial:
    </h1>
    <h1 class="message-body " style="margin-top: 0px;">
        Efectivo Final:
    </h1>
    <div class="text-center">
        <a href="" target="blank" class="btn btn-primary">Ver Resumen del Día</a>
    </div>
<hr/>
<table class="table dynamic">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var op in Model)
        {
            <tr>
                <td class="col-md-5">
                    <h4 class="title_insight">
                        @op.Tipo
                    </h4>
                    <br />
                    Fecha y Hora: @op.Fecha
                    <br />
                    @if (op.CentroDeCosto != "Ninguno")
                    {
                       @: Operación asociada al centro de costo: @op.CentroDeCosto <br />
                    }
                   
                    Usuario del Sistema: @op.Usuario
                    <br />
                </td>
                <td class="col-md-4">
                    <label class="badge badge-title">@string.Format("{0:C}", op.Importe)</label>
                    <br/>
                    Detalle: @op.Detalle
                </td>
                <td class="col-md-3">
                    <a class="btn btn-primary btn-sm col-md-12 print-report" value="${row.id }">
                        <i class="glyphicon glyphicon-print"></i>&nbsp;Imprimir Reporte
                    </a>
                </td>
            </tr>
        }
        <tr>
            <td><strong>Total</strong></td>
            <td><strong> @string.Format("{0:C}", Model.Sum(m => m.Importe)) </strong></td>
            <td></td>
        </tr>
    </tbody>
</table>
