@model IEnumerable<CompraVentaCore.Models.Compra>

<h1 class="message-body ">Compras del Día: @String.Format("{0:C}", Model.Sum(v => v.Productos.Sum(p => p.ImporteTotal)))</h1>
<hr />
<table class="table">
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Importe</th>
        <th>Lugar de compra</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var compra in Model)
    {
        <tr>
            <td>@compra.Fecha.ToShortDateString()</td>
            <td>@String.Format("{0:C}",compra.Productos.Sum(p => p.ImporteTotal))</td>
            <td>@compra.Entidad.Nombre</td>
            <td>
                <a class="btn btn-info prod-comprados-btn" data-id="@compra.Id">Productos comprados</a>
                <a class="btn btn-default" href="@Url.Action("Editar","Compras", new {Id = compra.Id})">Editar</a>
            </td>
        </tr>
    }
    </tbody>
</table>