@model CompraVentaCore.Models.Compra

@{
    ViewBag.Title = "Comprar";
}

<h1  class="message-body">@ViewBag.Title.</h1>

@using (Html.BeginForm("TramitarCompra", "Compras", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
    <div id="compraController"  data-ng-controller="compraController">
        <div class="col-md-12">
            <div class="form-group">
                @{
                    Html.RenderAction("DiaContable", "PeriodoContable");
                }
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EntidadId, "Tienda", new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    <select id="EntidadId" name="EntidadId" class="form-control" ng-model="entidad" ng-options="e.Nombre for e in entidades track by e.Id" chosen="">
                        <option></option>
                    </select>
                    <a class="btn btn-info" ng-click="agregarEntidadModal()"><i class="glyphicon glyphicon-plus-sign"></i></a>
                    @Html.ValidationMessageFor(m => m.EntidadId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Fecha, new {@class = "col-md-4 control-label"})
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Fecha, new {@class = "form-control datepicker"})
                    @Html.ValidationMessageFor(m => m.Fecha)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("esPorCaja","Pagar por caja", new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.CheckBox("esPorCaja")
                    @Html.ValidationMessage("esPorCaja")
                </div>
            </div>
            <div class="form-group">
                @{
                    Html.RenderPartial("_DetalleCompraPartial", ViewData);
                }
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    @Html.ActionLink("Atrás", "Index", "Compras", null, new { @class = "btn btn-default" })
                    <input id="comprar-btn" type="submit" class="btn btn-success" value="Comprar" />
                </div>
            </div>
        </div>

        <!-- MODAL AGREGAR MENU -->
        <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 id="modal-title" class="modal-title">Agregar Tienda</h4>
                    </div>
                    <div id="modal-detalle" class="modal-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="nombreEntidad">Nombre</label>
                            <div class="col-md-8">
                                <input class="form-control" id="nombreEntidad" ng-model="newEntidad.Nombre"/>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success" ng-click="agregarEntidad(newEntidad.Nombre)" data-dismiss="modal">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- TERMINA MODAL AGREGAR MENU -->
    </div>
                    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
        $(document).ready(function () {
            $(".select").chosen();

            $('.nuevo').tooltip();

    $('#comprar-btn').click(function() {
                $('#form-detalle-compra').remove();
            });


            $("#nuevo-vehiculo-btn").click(function () {
                $("#vehiculo-modal").modal();
            });

            $("#nueva-carga-btn").click(function () {
                $("#carga-modal").modal();
            });

            $("#nuevo-chofer-btn").click(function () {
                $("#chofer-modal").modal();
            });

            $("#save-carga-btn").click(function () {
                $("#form-carga").remove();
            });

            $("#ProductoId").change(function () {
                var msg = $("#ProductoId option:selected").val();
                angular.element('#compraController').scope().fetchUnidades(msg);
                angular.element('#compraController').scope().$apply();
            });
        });

        function vehiculoAgregado() {
            $("#vehiculo-modal").modal('hide');
            $('#VehiculoId').chosen();
            $('#form0 input:text').val('');
            $("#nuevo-vehiculo-btn").click(function () {
                $("#vehiculo-modal").modal();
            });
        };

        function choferAgregado() {
            $("#chofer-modal").modal('hide');
            $('#ChoferId').chosen();
            $('#form1 input:text').val('');
            $("#nuevo-chofer-btn").click(function () {
                $("#chofer-modal").modal();
            });
        };

        function cargaAgregada() {
            $("#carga-modal").modal('hide');
            angular.element('#compraController').scope().fetchProductos();
            angular.element('#compraController').scope().$apply();
        };



        erp.controller('compraController', [
            '$scope', '$http', function ($scope, $http) {
                $scope.loading = true;
                $scope.addMode = false;
                $scope.tieneError = false;
                $scope.error = "";
                $scope.select_changed = 0;
                $scope.entidad = {};
                $scope.newEntidad = {};

                $scope.productos = [];
                $scope.urlProductos = '@Url.Action("ListaProductos","Productos")';

                $scope.fetchProductos = function () {
                    $http.get($scope.urlProductos).then(function (result) {
                        $scope.productos = result.data;
                        $scope.select_changed++;
                    });
                }

                $scope.agregarEntidadModal = function() {
                    $("#modal").modal('show');
                }

                $scope.fetchProductos();

                $scope.unidades = [];
                $scope.urlUnidades = '@Url.Action("ListaUnidadesDeMedida","Productos")';

                $scope.fetchUnidades = function (id) {
                    $http.get($scope.urlUnidades + "/" + id).then(function (result) {
                        $scope.unidades = result.data;
                        $scope.select_changed++;
                    });
                }

                $scope.entidades = [];
                $scope.urlEntidades = '@Url.Action("Entidades","Compras")';

                $scope.fetchEntidades = function () {
                    $http.get($scope.urlEntidades).then(function (result) {
                        $scope.entidades = result.data;
                        $scope.select_changed++;
                    });
                }

                $scope.fetchEntidades();

                $scope.urlAgregarEntidad = '@Url.Action("AgregarEntidad")';
                $scope.agregarEntidad = function(nombre) {
                    $http.post($scope.urlAgregarEntidad, {nombre: nombre}).then(function(result) {
                        $scope.entidades = result.data;
                        $scope.select_changed++;
                    });
                }

                //$scope.fetchUnidades();

                $scope.detallesCompra = [];
                $scope.newDetalle = {};
                //$scope.newCarga.Aprobado = true;

                $scope.toggleEdit = function () {
                    this.detalle.editMode = !this.detalle.editMode;
                };
                $scope.agregarDetalle = function () {
                    //var index = $scope.cargas.length;
                    $scope.show = false;
                    var detalleNuevo = {};
                    var valido = true;
                    if ($scope.newDetalle.Cantidad == null || $scope.newDetalle.ProductoId === "") {
                        $scope.error = "Debe insertar los datos del producto.";
                        $scope.tieneError = true;
                        valido = false;
                    }
                    //var form = $("#form-detalle-compra");
                    //if (valido && !form.valid()) {
                    //    $scope.error = "Datos incorrectos en el producto.";
                    //    $scope.tieneError = true;
                    //    valido = false;
                    //}
                    if (valido && $scope.detallesCompra.find(function (a) { if ($scope.newDetalle.ProductoId === a.ProductoId) { return true; } return false; })) {
                        $scope.error = "Ya existe una carga con el mismo concepto.";
                        $scope.tieneError = true;
                        valido = false;
                    }
                    if (valido) {
                        detalleNuevo.ProductoId = $scope.newDetalle.ProductoId.Id;
                        detalleNuevo.UnidadId = $scope.newDetalle.UnidadId.Id;
                        detalleNuevo.Cantidad = $scope.newDetalle.Cantidad;
                        detalleNuevo.ImporteTotal = $scope.newDetalle.ImporteTotal;
                        var productoNombre = $("#ProductoId option:selected").html();
                        detalleNuevo.NombreProducto = productoNombre;
                        var nombreUnidad = $("#UnidadDeMedidaId option:selected").html();
                        detalleNuevo.NombreUnidad = nombreUnidad;
                        $scope.detallesCompra.push(detalleNuevo);
                        $("#save-aprob-btn").removeClass('disabled');
                        $scope.newDetalle = {};
                        $("#Aprobacion_Fecha").val("");
                        $scope.fetchProductos();
                    }

                };

                $scope.closeAlert = function () {
                    $scope.tieneError = false;
                };

                //Used to save a record after edit
                $scope.save = function (data) {
                    $scope.loading = true;
                    var carga = this.carga;
                    carga.CargaId = data.CargaId;
                    carga.Cantidad = data.Cantidad;
                    var cargaNombre = $("#carga_" + carga.Id + " option:selected").html();
                    carga.CargaNombre = cargaNombre;
                    carga.editMode = false;
                    $scope.loading = false;
                };

                $scope.cancelar = function () {
                    $scope.detallesCompra = [];
                    $("#save-carga-btn").addClass('disabled');
                    $scope.newDetalle = {};
                };

                //Used to edit a record
                $scope.borrarCarga = function (index) {
                    $scope.loading = true;
                    var detalle = this.detalle;
                    $scope.detallesCompra.splice(index, 1);
                    detalle.editMode = false;
                    $scope.loading = false;
                };
            }
        ]);

</script>

}