@using CompraVentaCore.Models
@model IEnumerable<CompraVentaCore.Models.Venta>


<h1 class="message-body ">Subtotal de Ventas del Día: @String.Format("{0:C}", Model.Sum(v => v.Importe))</h1>
@if (Model.Any())
{


    <div class="row text-center">
        @{
            var puntosDeVenta = Model.GroupBy(v => v.PuntoDeVenta).Select(v => new { PuntoDeVenta = v.Key.Nombre, Importe = v.Sum(ve => ve.Importe) });
        }
        @foreach (var pto in puntosDeVenta)
        {
            <div class="col-md-3 col-sm-3 col-xs-12">
                <h4 class="title_insight ">@pto.PuntoDeVenta:<br /> @String.Format("{0:C}", pto.Importe)</h4>
            </div>
        }
        <div class="col-md-3 col-sm-3 col-xs-12">
            <h4 class="title_insight ">Total:<br /> @String.Format("{0:C}", Model.Sum(v => v.Importe))</h4>
        </div>
    </div>

}
<hr />
@if (ViewBag.TotalDeVentasEnEspera > 0)
{
    <div class="alert alert-warning text-center">
        Por favor, recuerde que tiene @ViewBag.TotalDeVentasEnEspera comandas
        en espera de pago del cliente.
    </div>
}

@foreach (var venta in Model)
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <label class="badge badge-title">
                @String.Format("{0:C}", venta.Importe)
            </label>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <h4 class="title_insight">@venta.DiaContable.Fecha</h4>

        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            @Ajax.ActionLink("Ver Menus Consumidos", "MenusEnVentaPartial", "Ventas", new { Id = venta.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "Get", UpdateTargetId = "modal-detalle", OnComplete = "mostrarModal" }, new { @class = "btn btn-primary btn-sm col-md-12" })

        </div>
    </div>
    <hr />
}
