@model IEnumerable<CompraVentaCore.Models.DetalleDeVenta>

<table class="table dynamic">
    <thead>
        <tr>
            <th>Comanda</th>
            <th>Menu</th>
            <th>Observaciones</th>
            <th>Cantidad</th>
            <th>Debia cobrar</th>
            <th>Costo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menu in Model)
        {
            <tr>
                <td>@menu.Venta.Id</td>
                <td>@menu.Detalle</td>
                <td>@menu.Venta.Observaciones</td>
                <td>@menu.Cantidad</td>
                <td>@String.Format("{0:C}", menu.PrecioDeVenta)</td>
                <td>@String.Format("{0:C}",menu.Costo * menu.Cantidad)</td>
            </tr>
        }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>TOTALES</td>
        <td>@String.Format("{0:C}", Model.Sum(v => v.PrecioDeVenta))</td>
        <td>@String.Format("{0:C}", Model.Sum(v => v.Costo))</td>
    </tr>
    </tbody>
</table>
