@using CompraVentaCore.Models
@model IEnumerable<CompraVentaCore.Models.Venta>

@{
    ViewBag.Title = "Ventas";
}

<div id="ventas-div">
    @{
        Html.RenderAction("ListaDeVentasPartial", new { Id = ViewBag.DiaContable.Id });
    }
</div>

@section SeccionDerecha
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
            <p class="parrafo_derecha"><i class="glyphicon glyphicon-usd icono_derecha"></i>&nbsp;Ventas</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-justify contenido_derecho_descripcion">
            <p>Observe las ventas registradas en la fecha contable actual y sus menús asociados</p>
            <p>Hoy se han registrado un total de @ViewBag.CantidadDeVentas ventas.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <a href="@Url.Action("NuevaVenta")" class="btn btn-default col-md-12 col-sm-12 col-xs-12">Registrar Nueva Venta</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <a href="@Url.Action("VentaAlCosto")" class="btn btn-default col-md-12 col-sm-12 col-xs-12">Registrar Venta Al Costo</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <a href="@Url.Action("Pendientes")" class="btn btn-default col-md-12 col-sm-12 col-xs-12">Pendientes de pago</a>
        </div>
    </div>
    <br />
}

<!-- MODAL AGREGAR MENU -->
<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 id="modal-title" class="modal-title">Menús en venta</h4>
            </div>
            <div id="modal-detalle" class="modal-body">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- TERMINA MODAL AGREGAR MENU -->

<div id="modalPagarVale" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true" data-ng-controller="pagarValeController">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("PagarVale", "Ventas", FormMethod.Post, new { @id = "pagarvale" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Pagar Vale</h4>
                </div>
                <div id="modal-body" class="modal-body">
                    <input type="hidden" id="VentaId" name="id" value="{{idVenta}}" />
                    <div id="alert-vuelto" class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center alert alert-info">
                            El vuelto a devolverle al cliente es de <b id="vueltoCuc">{{ aDevolver | currency}} CUC</b>
                            o de <b id="vueltoCup">{{ aDevolver * 25 | currency}} CUP</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            Entrada en CUC
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <input class="form-control efectivo" type="text" id="entradaCuc" name="entradaCuc" data-ng-model="efectivoCuc" data-ng-change="efectivoTotalUpdate()" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            Entrada en CUP
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <input class="form-control efectivo" type="text" id="entradaCup" name="entradaCup" data-ng-model="efectivoCup" data-ng-change="efectivoTotalUpdate()" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            Entrada de Efectivo Total
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <label class="form-control" disabled="disabled">{{efectivoTotal | currency}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            Importe Total
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <label class="form-control" disabled="disabled">{{aCobrar | currency}}</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="pagarValeButton" type="submit" class="btn btn-primary" data-ng-disabled="cobrarDisabled" data-ng-click="pagarVale()">Pagar Vale</button>
                    <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
                </div>
            }
        </div>
    </div>
</div>

<div id="modalPropina" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true" ng-controller="propinaController">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Propina", "Ventas", FormMethod.Post, new { @id = "cobrarPropina" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Pagar Vale</h4>
                </div>
                <div id="modal-body" class="modal-body">
                    <input type="hidden" name="ventaId" value="{{idVenta}}" />
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            Entrada en CUC
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <input class="form-control efectivo" type="text" id="entradaCuc" name="entradaCuc" data-ng-model="efectivoCuc" data-ng-change="efectivoTotalUpdate()" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            Entrada en CUP
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <input class="form-control efectivo" type="text" id="entradaCup" name="entradaCup" data-ng-model="efectivoCup" data-ng-change="efectivoTotalUpdate()" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            Importe Total
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <label class="form-control" disabled="disabled">{{efectivoTotal | currency}}</label>
                            <input type="hidden" name="propina" value="{{efectivoTotal}}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="pagarValeButton" type="submit" class="btn btn-primary" ng-disabled="propinaDisabled" ng-click="cobrarPropina()">Cobrar Propina</button>
                    <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
                </div>
            }
        </div>
    </div>
</div>

<div id="modalEliminarVenta" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Eliminar Venta</h4>
            </div>
            <div id="modal-body" class="modal-body">
                <p>¿Desea realmente eliminar la comanda <span id="numero-comanda"></span>?</p>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Eliminar", "Ventas"))
                {
                    @Html.AntiForgeryToken()
                    <input id="id-venta" type="hidden" name="Id" value="0" />
                    <div class="col-md-3 col-md-offset-6">
                        <input id="button-eliminar-venta" type="submit" value="Eliminar Venta" class="btn btn-primary" />
                    </div>
                }
                <div class="col-md-3">
                    <button type="button" class="btn btn-default col-md-12" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalImprimirVenta" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Imprimir Venta</h4>
            </div>
            <div id="modal-body" class="modal-body">
                <p>
                    <strong>¡Atención!!!</strong> Si imprime el reporte correspondiente a la comanda<br />
                    no podrá realizar futuras ediciones en la venta y deberá realizar el pago correspondiente a esta.
                </p>
            </div>
            <div class="modal-footer">
                <div class="col-md-3 col-md-offset-6">
                    @*<a class="btn btn-primary" id="imprimir-btn" href="@Url.Action("ImprimirReporte","Ventas")">Imprimir</a>*@
                    <a class="btn btn-primary" id="imprimir-btn" href="javascript:;">Imprimir</a>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-default col-md-12" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalOtroDia" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("PasarAOtroDia", "Ventas", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Pasar para otro dia</h4>
                </div>
                <div id="modal-body" class="modal-body">
                    <input type="hidden" name="ventaId" id="otro-dia-id" value="0" />
                    <div class="row">
                        <div class="col-md-12">
                            Detalle
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control" rows="3" name="observacion" required="required"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Para otro dia</button>
                    <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
                </div>
            }
        </div>
    </div>
</div>

<div id="modalPorCuentaCasa" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("PorCuentaDeLaCasa", "Ventas", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Por cuenta de la casa</h4>
                </div>
                <div id="modal-body" class="modal-body">
                    <input type="hidden" name="ventaId" id="cuenta-casa-id" value="0" />
                    <div class="row">
                        <div class="col-md-12">
                            Detalle
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control" rows="3" name="observacion" required="required"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Por la casa</button>
                    <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/mbs-qdtf.js"></script>

    <script>
        $(document).ready(function () {
            $('btn').tooltip();

            function ImprimirVenta(id) {
                @*var w = window.open();
                var div = $("<div></div>");
                var div2 = $("<div></div>");
                $(div).append("<p>Comanda # " + id + "</p>");
                $(div).append(div2);
                $(div2).load('@Url.Action("MenusEnVentaPartial","Ventas")' + '/' + id, function () {
                    w.document.write($(div).html());
                    w.print();
                    w.close();
                    $("#modalImprimirVenta").modal('hide');
                });*@
                var w = window.open("/Reportes/ValeDeVenta/" + id);
                $("#modalImprimirVenta").modal('hide');
            }

            $(document).on('click', "#imprimir-btn", function () {
                var id = $(this).attr("data-id");
                $.get('@Url.Action("PasarAImpreso")' + '/' + id, function () {
                    ImprimirVenta(id);
                    window.location = '/Ventas/Index';
                });
            });

            $(document).on('click', ".otro-dia-btn", function () {
                var id = $(this).attr("data-id");
                $("#otro-dia-id").val(id);
                $("#modalOtroDia").modal('show');
            });

            $(document).on('click', ".por-casa-btn", function () {
                var id = $(this).attr("data-id");
                $("#cuenta-casa-id").val(id);
                $("#modalPorCuentaCasa").modal('show');
            });

            $(document).on('click', ".print-vale-btn", function () {
                var id = $(this).attr("data-id");
                var estado = $(this).attr("data-estado");
                if (estado == "Pendiente") {
                    $("#imprimir-btn").attr("data-id", id);
                    $("#numero-comanda-imprimir").html("comanda " + id);
                    $("#modalImprimirVenta").modal('show');
                } else {
                    ImprimirVenta(id);
                }

            });

            $(document).on('click', ".pagar-vale-btn", function () {
                angular.element('#modalPagarVale').scope().fetchImporte($(this).attr("data-id"));
                angular.element('#modalPagarVale').scope().$apply();
                $("#modalPagarVale").modal('show');
            });

            $(document).on('click', ".propina-btn", function () {
                angular.element('#modalPropina').scope().setVentaId($(this).attr("data-id"));
                angular.element('#modalPropina').scope().$apply();
                $("#modalPropina").modal('show');
            });

            $(document).on('click', ".eliminar-venta-btn", function () {
                var id = $(this).attr('data-id');
                $("#id-venta").val(id);
                $("#numero-comanda").html(id);
                $("#modalEliminarVenta").modal('show');
            });
        });

        function mostrarModal() {
            $("#modal").modal('show');
        }

        erp.controller('pagarValeController', [
            '$scope', '$http', function ($scope, $http) {
                $scope.efectivoCup = 0.0;
                $scope.efectivoCuc = 0.0;
                $scope.efectivoTotal = 0.0;
                $scope.aCobrar = 0.0;
                $scope.aDevolver = 0.0;
                $scope.cobrarDisabled = true;
                $scope.idVenta = 0;

                $scope.fetchImporte = function (id) {
                    $scope.idVenta = id;
                    $http.get('@Url.Action("ImporteVenta","Ventas")' + "/" + id).then(function (result) {
                        $scope.aCobrar = result.data;
                    });
                };

                $scope.pagarVale = function () {
                    $("#pagarvale").submit();
                };

                $scope.efectivoTotalUpdate = function () {
                    $scope.efectivoTotal = ($scope.efectivoCuc * 1) + ($scope.efectivoCup / 25);
                    $scope.aDevolver = $scope.efectivoTotal - $scope.aCobrar;
                    if ($scope.aDevolver < 0) {
                        $scope.aDevolver = 0;
                    }
                    if ($scope.aCobrar <= $scope.efectivoTotal) {
                        $scope.cobrarDisabled = false;
                    } else {
                        $scope.cobrarDisabled = true;
                    }
                };
            }
        ]);

        erp.controller('propinaController', [
            '$scope', '$http', function ($scope, $http) {
                $scope.efectivoCup = 0.0;
                $scope.efectivoCuc = 0.0;
                $scope.efectivoTotal = 0.0;
                $scope.aCobrar = 0.0;
                $scope.propinaDisabled = true;
                $scope.idVenta = 0;

                $scope.setVentaId = function (id) {
                    $scope.idVenta = id;
                };

                $scope.cobrarPropina = function () {
                    $("#cobrarPropina").submit();
                };

                $scope.efectivoTotalUpdate = function () {
                    $scope.efectivoTotal = ($scope.efectivoCuc * 1) + ($scope.efectivoCup / 25);
                    if ($scope.efectivoTotal > 0) {
                        $scope.propinaDisabled = false;
                    } else {
                        $scope.propinaDisabled = true;
                    }
                };
            }
        ]);
    </script>
}
