@using CompraVentaCore.Models
@model IEnumerable<CompraVentaCore.Models.Venta>

@{
    ViewBag.Title = "Ventas";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form class="form-horizontal" role="form" accept-charset="utf-8">
            <div class="form-group">
                <label class="col-md-6 col-sm-6  col-xs-12 control-label">Buscar Ventas del Día</label>
                <div class="col-md-6 col-sm-6 col-xs-12 " style="padding: 0px;">
                    <div class="input-group input-append date col-md-6 col-sm-6" data-date="" data-date-format="dd-mm-yyyy" id="datepicker" data-date="">
                        <input class="input-small form-control  datepicker" type="text" id="date" name="date" value='@ViewBag.DiaContable.Fecha.ToShortDateString()'>
                        <span class="input-group-addon add-on">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="ventas-div">
    @{
        Html.RenderAction("ListaDeVentasPartial", new {Id = ViewBag.DiaContable.Id});
    }
</div>



@section SeccionDerecha
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
            <p class="parrafo_derecha"><i class="glyphicon glyphicon-usd icono_derecha"></i>&nbsp;Ventas</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-justify contenido_derecho_descripcion">
            <p>Observe las ventas registradas en la fecha contable actual y sus menús asociados</p>
            <p>Hoy se han registrado un total de 0 ventas.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <a href="@Url.Action("NuevaVenta")" class="btn btn-default col-md-12 col-sm-12 col-xs-12">Registrar Nueva Venta</a>
        </div>
    </div>
    <br />
}

<!-- MODAL AGREGAR MENU -->
<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 id="modal-title" class="modal-title">Menús en venta</h4>
            </div>
            <div id="modal-detalle" class="modal-body">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- TERMINA MODAL AGREGAR MENU -->

<div id="modalPagarVale" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true" data-ng-controller="pagarValeController">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("PagarVale", "Ventas", FormMethod.Post, new { @id = "pagarvale" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Pagar Vale</h4>
                </div>
                <div id="modal-body" class="modal-body">
                    <input type="hidden" id="VentaId" name="id" value="{{idVenta}}" />
                    <div id="alert-vuelto" class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center alert alert-info">
                            El vuelto a devolverle al cliente es de <b id="vueltoCuc">{{ aDevolver | currency}} CUC</b>
                            o de <b id="vueltoCup">{{ aDevolver * 24 | currency}} CUP</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            Entrada en CUC
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <input class="form-control efectivo" type="text" id="entradaCuc" name="entradaCuc" data-ng-model="efectivoCuc" data-ng-change="efectivoTotalUpdate()" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            Entrada en CUP
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <input class="form-control efectivo" type="text" id="entradaCup" name="entradaCup" data-ng-model="efectivoCup" data-ng-change="efectivoTotalUpdate()" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            Entrada de Efectivo Total
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <label class="form-control" disabled="disabled">{{efectivoTotal | currency}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            Importe Total
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <label class="form-control" disabled="disabled">{{aCobrar | currency}}</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="pagarValeButton" type="submit" class="btn btn-primary" data-ng-disabled="cobrarDisabled" data-ng-click="pagarVale()">Pagar Vale</button>
                    <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
                </div>
            }
        </div>
    </div>
</div>

<div id="modalEliminarVenta" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Eliminar Venta</h4>
            </div>
            <div id="modal-body" class="modal-body">
                ¿Desea realmente eliminar los datos de esta venta?
            </div>
            <div class="modal-footer">
                <a id="button-eliminar-venta" class="btn btn-primary">Eliminar Venta</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/mbs-qdtf.js"></script>
    <script>
        $(document).ready(function () {
            $('btn').tooltip();
            $('#date').change(function () {
                console.log("cambio de fecha");
                var fecha = $("#date").val();
                $.ajax({
                    url: "@Url.Action("BuscarVentas", "Ventas")",
                    type: "POST",
                    data: { fecha: fecha },
                    dataType: "html",
                    success: function (data) {
                        $("#ventas-div").html(data);
                        funcionesMenu();
                    },
                    error: function (data) { }
                });
            });

            $(document).on('click', "#pagar-vale-btn", function () {
                angular.element('#modalPagarVale').scope().fetchImporte($(this).attr("data-id"));
                angular.element('#modalPagarVale').scope().$apply();
                $("#modalPagarVale").modal('show');
            });

            $(document).on('click', "#eliminar-venta-btn", function () {
                $("#modalEliminarVenta").modal('show');
            });
        });

        function mostrarModal() {
            $("#modal").modal('show');
        }

        erp.controller('pagarValeController', [
            '$scope', '$http', function ($scope, $http) {
                $scope.efectivoCup = 0.0;
                $scope.efectivoCuc = 0.0;
                $scope.efectivoTotal = 0.0;
                $scope.aCobrar = 0.0;
                $scope.aDevolver = 0.0;
                $scope.cobrarDisabled = true;
                $scope.idVenta = 0;

                $scope.fetchImporte = function (id) {
                    $scope.idVenta = id;
                    $http.get('@Url.Action("ImporteVenta","Ventas")' + "/" + id).then(function (result) {
                        $scope.aCobrar = result.data;
                    });
                };

                $scope.pagarVale = function () {
                    $("#pagarvale").submit();
                };

                $scope.efectivoTotalUpdate = function () {
                    $scope.efectivoTotal = ($scope.efectivoCuc * 1) + ($scope.efectivoCup / 24);
                    $scope.aDevolver = $scope.efectivoTotal - $scope.aCobrar;
                    if ($scope.aDevolver < 0) {
                        $scope.aDevolver = 0;
                    }
                    if ($scope.aCobrar <= $scope.efectivoTotal) {
                        $scope.cobrarDisabled = false;
                    } else {
                        $scope.cobrarDisabled = true;
                    }
                };
            }
        ]);
    </script>
}
