@using ErpMvc.Models
@model CompraVentaCore.Models.Venta

@{
    ViewBag.Title = "Venta";
}

<h1 class="message-body">@ViewBag.Title.</h1>

@using (Html.BeginForm("NuevaVenta", "Ventas", FormMethod.Post, new { @id = "venta-form" }))
{
    <div class="row padding0px">
        @if (!User.IsInRole(RolesMontin.Vendedor))
        {
            <div class="col-md-5 col-sm-12 col-xs-12 padding0px">
                <div class="row padding0px">
                    <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                        Dependiente
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 padding0px">
                        @Html.DropDownList("VendedorId", null, new { @class = "form-control select" })
                    </div>
                </div>
            </div>
        }
        <div class="col-md-4 col-sm-12 col-xs-12 padding0px">
            <div class="row padding0px">
                <div class="col-md-6 col-sm-12 col-xs-12 text-right">
                    Posicion
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    @Html.DropDownList("PuntoDeVentaId", null, new { @class = "form-control select" })
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 padding0px">
            <div class="row padding0px">
                <div class="col-md-3 col-sm-12 col-xs-12 text-right">
                    Pax
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    @Html.EditorFor(model => model.CantidadPersonas, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="tabla-detalle-de-venta" data-ng-controller="ventasController">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @{
                    Html.RenderAction("DetalleDeVentaPartial");
                }
            </div>
            <!-- MODAL AGREGAR MENU -->
            <div id="modal-agregados" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
                <div class="modal-dialog">
                    <div class="modal-content" id="agregados-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 id="modal-title" class="modal-title">Agregados del menú</h4>
                        </div>
                        <div id="modal-detalle" class="modal-body">
                            <div class="container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="col-md-6"></th>
                                            <th class="col-md-6"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="a in agregados">
                                            <td class="col-md-6">{{a.Nombre}}</td>
                                            <td class="col-md-6">
                                                <a class="btn btn-primary btn-sm rest-menu" ng-disabled="menosADisabled" ng-click="disminuirAgregado(a)">
                                                    <i class="glyphicon glyphicon-minus-sign"></i>
                                                </a>
                                                <label class="cantidad-menu">{{ cantidadAgregado(a) }}</label>
                                                <a class="btn btn-primary btn-sm add-menu" ng-disabled="masADisabled" ng-click="aumentarAgregado(a)">
                                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- TERMINA MODAL AGREGAR MENU -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <button id="submit-btn" type="submit" class="btn btn-primary">Registrar Venta</button>
        </div>
    </div>
                    }

@section SeccionDerecha
{
    <div class="row">
        <div class="contenido_derecho_titulo">
            <p class="parrafo_derecha">Nueva Venta</p>
        </div>
    </div>
    <div class="row">
        <div class="contenido_derecho_descripcion">
            <p>
                Para registrar una venta debe especificar el tipo de moneda con que le pagan, el dependiente
                que atendió al cliente, el número de comanda en caso de existir y los elementos del menú
                consumidos por el cliente.
            </p>
        </div>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/mbs-qdtf.js"></script>
    <script src="~/Scripts/erp/menu.js"></script>
    <script src="~/Scripts/erp/ventasController.js"></script>
    <script>
        $(document).ready(function() {
            $('btn').tooltip();

            $('#submit-btn').click(function() {
                $('#form-detalle-compra').remove();
            });

        });
    </script>
}
