@model CompraVentaCore.Models.Elaboracion

@using (Html.BeginForm("AgregarMenu", "Menus", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "menu-form" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 id="modal-title" class="modal-title">Agregar Nuevo Menú</h4>
    </div>
    <div class="modal-body">
        <div id="alert-danger" class="alert alert-warning hidden"></div>
        @Html.HiddenFor(model => model.Id, new {@value = 0})
        @Html.HiddenFor(model => model.Costo)
        <div class="row">
            <label class="col-md-4 col-sm-4 col-xs-12 text-right">Nombre</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(model => model.Nombre,new {@class = "form-control"})
            </div>
        </div>

        <div id="precio-venta-div" class="row hidden">
            <label class="col-md-4 col-sm-4 col-xs-12 text-right">Precio de Venta</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(model => model.PrecioDeVenta, new { @class = "form-control", @value = "0" })
                @Html.ValidationMessageFor(model => model.PrecioDeVenta)
            </div>
        </div>

        <div class="row">
            <label class="col-md-4 col-sm-4 col-xs-12 text-right">Costo Planificado</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(model => model.CostoPlanificado, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.CostoPlanificado)
            </div>
        </div>

        <div class="row">
            <label class="col-md-4 col-sm-4 col-xs-12 text-right">&Iacute;ndice Esperado&nbsp;&nbsp;</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(model => model.IndiceEsperado, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IndiceEsperado)
            </div>
        </div>

        <div class="row">
            <label class="col-md-4 col-sm-4 col-xs-12 text-right">Presentaci&oacute;n</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextAreaFor(model => model.Presentacion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Presentacion)
            </div>
        </div>

        <div class="row">
            <label class="col-md-4 col-sm-4 col-xs-12 text-right">Preparaci&oacute;n</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextAreaFor(model => model.Preparacion, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Preparacion)
            </div>
        </div>

        <div class="row">
            <label class="col-md-4 col-sm-4 col-xs-12 text-right">Se calcula porciento</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @* TODO: no carga si esta checked o no *@
                @Html.CheckBox("porCiento", new {@class = "form-control"})
                @*<input type="checkbox" class="form-control" name="porCiento" id="porCiento" value="false"/>*@
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button id="button-submit" type="submit" class="btn btn-primary" type="submit">Agregar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
}
