@model CompraVentaCore.Models.Elaboracion

@{
    ViewBag.Title = "Agregar Menu";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AgregarMenu", "Menus", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            @Html.LabelFor(m => m.Nombre, new {@class = "col-md-4 control-label"})
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Nombre, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Nombre)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Preparacion, new {@class = "col-md-4 control-label"})
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Preparacion, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Preparacion)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Presentacion, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Presentacion, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Presentacion)
            </div>
        </div>
        <div id="compraController" class="form-group" data-ng-controller="compraController">
            @{
                Html.RenderPartial("_ProductoPorMenuPartial", ViewData);
            }
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                @Html.ActionLink("Atrás", "Listado", null,new {@class = "btn btn-default"})
                <input type="submit" class="btn btn-success nuevo" value="Crear"/>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
        $(document).ready(function () {
            $(".select").chosen();

            $('.nuevo').tooltip();

            $("#nuevo-chofer-btn").click(function () {
                $("#chofer-modal").modal();
            });

            $("#save-carga-btn").click(function () {
                $("#form-carga").remove();
            });
        });

        function vehiculoAgregado() {
            $("#vehiculo-modal").modal('hide');
            $('#VehiculoId').chosen();
            $('#form0 input:text').val('');
            $("#nuevo-vehiculo-btn").click(function () {
                $("#vehiculo-modal").modal();
            });
        };

        function choferAgregado() {
            $("#chofer-modal").modal('hide');
            $('#ChoferId').chosen();
            $('#form1 input:text').val('');
            $("#nuevo-chofer-btn").click(function () {
                $("#chofer-modal").modal();
            });
        };

        function cargaAgregada() {
            $("#carga-modal").modal('hide');
            angular.element('#compraController').scope().fetchProductos();
            angular.element('#compraController').scope().$apply();
        };



        erp.controller('compraController', [
            '$scope', '$http', function ($scope, $http) {
                $scope.loading = true;
                $scope.addMode = false;
                $scope.tieneError = false;
                $scope.error = "";

                $scope.productos = [];
                $scope.urlProductos = '@Url.Action("ListaProductos","Productos")';

                $scope.fetchProductos = function () {
                    $http.get($scope.urlProductos).then(function (result) {
                        $scope.productos = result.data;
                    });
                }

                $scope.fetchProductos();

                $scope.unidades = [];
                $scope.urlUnidades = '@Url.Action("ListaUnidadesDeMedida", "Productos")';

                $scope.fetchUnidades = function () {
                    $http.get($scope.urlUnidades).then(function (result) {
                        $scope.unidades = result.data;
                    });
                }

                $scope.fetchUnidades();

                $scope.detallesCompra = [];
                $scope.newDetalle = {};
                //$scope.newCarga.Aprobado = true;

                $scope.toggleEdit = function () {
                    this.detalle.editMode = !this.detalle.editMode;
                };
                $scope.agregarDetalle = function () {
                    //var index = $scope.cargas.length;
                    $scope.show = false;
                    var detalleNuevo = {};
                    var valido = true;
                    if ($scope.newDetalle.Cantidad == null || $scope.newDetalle.ProductoId === "") {
                        $scope.error = "Debe insertar los datos del producto.";
                        $scope.tieneError = true;
                        valido = false;
                    }
                    //var form = $("#form-detalle-compra");
                    //if (valido && !form.valid()) {
                    //    $scope.error = "Datos incorrectos en el producto.";
                    //    $scope.tieneError = true;
                    //    valido = false;
                    //}
                    if (valido && $scope.detallesCompra.find(function (a) { if ($scope.newDetalle.ProductoId === a.ProductoId) { return true; } return false; })) {
                        $scope.error = "Ya existe una carga con el mismo concepto.";
                        $scope.tieneError = true;
                        valido = false;
                    }
                    if (valido) {
                        detalleNuevo.ProductoId = $scope.newDetalle.ProductoId.Id;
                        detalleNuevo.UnidadId = $scope.newDetalle.UnidadId.Id;
                        detalleNuevo.Cantidad = $scope.newDetalle.Cantidad;
                        detalleNuevo.ImporteTotal = $scope.newDetalle.ImporteTotal;
                        var productoNombre = $("#ProductoId option:selected").html();
                        detalleNuevo.NombreProducto = productoNombre;
                        var nombreUnidad = $("#UnidadDeMedidaId option:selected").html();
                        detalleNuevo.NombreUnidad = nombreUnidad;
                        $scope.detallesCompra.push(detalleNuevo);
                        $("#save-aprob-btn").removeClass('disabled');
                        $scope.newDetalle = {};
                        $("#Aprobacion_Fecha").val("");
                    }

                };

                $scope.closeAlert = function () {
                    $scope.tieneError = false;
                };

                //Used to save a record after edit
                $scope.save = function (data) {
                    $scope.loading = true;
                    var carga = this.carga;
                    carga.CargaId = data.CargaId;
                    carga.Cantidad = data.Cantidad;
                    var cargaNombre = $("#carga_" + carga.Id + " option:selected").html();
                    carga.CargaNombre = cargaNombre;
                    carga.editMode = false;
                    $scope.loading = false;
                };

                $scope.cancelar = function () {
                    $scope.detallesCompra = [];
                    $("#save-carga-btn").addClass('disabled');
                    $scope.newDetalle = {};
                };

                //Used to edit a record
                $scope.borrarCarga = function (index) {
                    $scope.loading = true;
                    var detalle = this.detalle;
                    $scope.detallesCompra.splice(index, 1);
                    detalle.editMode = false;
                    $scope.loading = false;
                };
            }
        ]);

</script>

}