@using ErpMvc.Models
@model IEnumerable<CompraVentaCore.Models.Elaboracion>

@{
    ViewBag.Title = "Menus";
}

<table class="table dynamic">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-3">
                    <img src="@Url.Content("~/Content/uploads/productos/" + item.Id + ".jpg")" onerror="this.remove();" class="img-thumbnail img-menu" />
                </td>
                <td class="col-md-5">
                    <h4 class="title_insight">
                        @if (item.Costo > item.PrecioDeVenta)
                        {
                            <i class="glyphicon glyphicon-warning-sign"></i>
                        }
                        @if (item.Costo * item.IndiceEsperado > item.PrecioDeVenta)
                        {
                            <i class="glyphicon glyphicon-exclamation-sign"></i>
                        }
                        @item.Nombre
                    </h4><br />
                    <p>
                        Precio de Venta: @String.Format("{0:C}", item.PrecioDeVenta)<br />
                        Precio Total de Materias Primas: @String.Format("{0:C}", item.Costo)<br />
                        Precio con Índice: @String.Format("{0:C}", item.Costo * item.IndiceEsperado)<br />
                        @if (true)
                        {
                            @: Se calcula porciento
                        }
                        else
                        {
                            @: NO se calcula porciento
                        }
                        @if (item.Agregados.Any())
                        {
                            <br />
                            @:Se le puede agregar : @String.Join(",", item.Agregados.Select(a => a.Producto.Nombre))
                        }
                        
                    </p>
                </td>
                <td class="col-md-4 form-horizontal botones">
                    <div class="form-group">
                        <a class="btn btn-primary btn-sm col-md-12 edit-menu" value="@item.Id">
                            <i class="glyphicon glyphicon-edit"></i>&nbsp;Editar Datos Generales
                        </a>
                    </div>
                    <div class="form-group">
                        <a href="@Url.Action("FichaDeCosto", new {Id = item.Id})" class="btn btn-primary btn-sm col-md-12">
                            <i class="glyphicon glyphicon-folder-open"></i>&nbsp;Modificar Ficha de Costo
                        </a>
                    </div>
                    <div class="form-group">
                        <a href="@Url.Action("Agregados", new {Id = item.Id})" class="btn btn-primary  btn-sm col-md-12">
                            <i class="glyphicon glyphicon-glass"></i>&nbsp;Agregados
                        </a>
                    </div>
                    <div class="form-group">
                        <form action="AgregarImagen" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" value="@item.Id" />
                            <input class="select-image hidden" type="file" name="file" accept="image/*" />
                            <a class="btn btn-primary btn-sm  col-md-12 edit-image"><i class="icon-picture"></i>&nbsp;Editar Imagen</a>
                        </form>
                    </div>
                    @if (User.IsInRole(RolesMontin.Administrador))
                    {
                        <div class="form-group">
                            <a href="@Url.Action("Eliminar",new {Id = item.Id})" class="btn btn-primary btn-sm  col-md-12">
                                <i class="glyphicon glyphicon-trash"></i>&nbsp;Eliminar
                            </a>
                        </div>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@section SeccionDerecha
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
            <p class="parrafo_derecha"><i class="glyphicon glyphicon-book icono_derecha"></i>&nbsp;Men&uacute;</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-justify contenido_derecho_descripcion">
            <p>Gestione los menús que serán ofertados a los clientes editando sus datos y ficha de costo asociada.</p>
            <p>Actualmente hay definidos @Model.Count() menús.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <a class="btn btn-default col-md-12 col-sm-12 col-xs-12" data-toggle="modal" data-target="#modal">Agregar Nuevo Menú</a>

            <br />
            <p>
                <i class="glyphicon glyphicon-warning-sign"></i>&nbsp;Menús bajo Precio de Costo
            </p>
            <br />
            <p>
                <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;Menús bajo Precio con Índice
            </p>
            @*<a href="fichasdecosto" target="blank"
                   class="btn btn-default col-md-12 col-sm-12 col-xs-12">
                    <i class="glyphicon glyphicon-file"></i>&nbsp;Ver Fichas de Costo
                </a>
                <br/>
                <a id="vermenunorentables" class="btn btn-default col-md-12 col-sm-12 col-xs-12">
                    <i class="icon-warning-sign"></i>&nbsp;Menús bajo Precio de Costo
                </a>
                <br/>
                <a id="vermenunbajoprecioconindice" class="btn btn-default col-md-12 col-sm-12 col-xs-12">
                    <i class="icon-exclamation-sign"></i>&nbsp;Menús bajo Precio con Índice
                </a>*@
            <img class="imagen_derecho img-thumbnail" src="@Url.Content("~/Content/images/menus.jpg")" />
        </div>
    </div>

}

<!-- MODAL AGREGAR MENU -->
<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @{
                Html.RenderAction("AgregarMenuPartial");
            }
        </div>
    </div>
</div>
<!-- TERMINA MODAL AGREGAR MENU -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/mbs-qdtf.js"></script>
    <script src="~/Scripts/erp/menu.js"></script>
    <script>
        $(document).ready(function () {
            $('btn').tooltip();

            $("#CostoPlanificado").val(0.4);
            $("#IndiceEsperado").val(2.4);

            $(document).on("change", "#porCiento", function () {
                if ($("#porCiento:checked").length > 0) {
                    $("#porCiento").val(true);
                } else {
                    $("#porCiento").val(false);
                }
            });
        });
    </script>
}
