@{
    ViewBag.Title = "Operaciones de caja";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form class="form-horizontal" role="form" accept-charset="utf-8">
            <div class="form-group">
                <label class="col-md-6 col-sm-6  col-xs-12 control-label">Buscar Compras del Día</label>
                <div class="col-md-6 col-sm-6 col-xs-12 " style="padding: 0px;">
                    <div class="input-group input-append date col-md-6 col-sm-6" data-date="" data-date-format="dd-mm-yyyy" id="datepicker" data-date="">
                        <input class="input-small form-control  datepicker" type="text" id="date" name="date" value='@ViewBag.DiaContable.Fecha.ToShortDateString()'>
                        <span class="input-group-addon add-on">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="div-historial">
    @{
        Html.RenderAction("ResumenDeOperacionesContables", "Operaciones", new { Id = ViewBag.DiaContable.Id });
    }
</div>
@section SeccionDerecha
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
            <p class="parrafo_derecha">&nbsp;Caja</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-justify contenido_derecho_descripcion">
            <p>
                Dia contable: @ViewBag.DiaContable.Fecha.ToShortDateString()
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <a class="col-md-12 col-sm-12 col-xs-12 btn btn-default" href="@Url.Action("Extraccion","Caja")">Extraccion</a>
            <a class="col-md-12 col-sm-12 col-xs-12 btn btn-default" href="@Url.Action("Deposito","Caja")">Deposito</a>
        </div>
    </div>
}

@section scripts
{
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/mbs-qdtf.js"></script>
    <script>
        $(document).ready(function () {
            $('#date').change(function () {
                //console.log("cambio de fecha");
                var fecha = $("#date").val();
                $.ajax({
                    url: "@Url.Action("ResumenDeOperacionesContablesPorFecha", "Operaciones")",
                    type: "POST",
                    data: { fecha: fecha },
                    dataType: "html",
                    success: function (data) {
                        $("#div-historial").html(data);
                    },
                    error: function (data) { }
                });
            });

            $("#cierreDia").click(function () {
                $("#modal").modal();
            });
        });

    </script>
}
