@model SeguridadCore.ViewModels.UsuarioViewModel
@{
    ViewBag.Title = "Crear usuario";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CrearUsuario", "Seguridad", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            @Html.LabelFor(m => m.NombreUsuario, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NombreUsuario)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CorreoElectronico, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CorreoElectronico)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Contraseña, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.PasswordFor(m => m.Contraseña, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Contraseña)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmarContraseña, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.PasswordFor(m => m.ConfirmarContraseña, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmarContraseña)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Roles, "Roles", new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.ListBox("Roles", null, new { @class = "form-control select" })
                @Html.ValidationMessageFor(m => m.Roles)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                @Html.ActionLink("Atrás", "ListaUsuario", "Usuario", new { @class = "btn btn-default" })
                <input type="submit" class="btn btn-success" value="Crear" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
