@model IEnumerable<SeguridadCore.Models.Usuario>
@{
    ViewBag.Title = "Listado de Usuarios";
}


@Html.ActionLink("Agregar Usuario", "CrearUsuario", "Seguridad", null, new { @class = "btn btn-info" })

<div>
    @if (TempData["exito"] != null)
    {
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Advertencia!</strong> @TempData["exito"].
        </div>
    }
    @if (TempData["advertencia"] != null)
    {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Advertencia!</strong> @TempData["advertencia"].
        </div>


    }

    <table class="table dynamic">
        <thead>
            <tr>
                <th>
                    Nombre de usuario
                </th>
                <th>
                    Rol
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @String.Join(",", item.Roles.Select(r => r.Role.Name))
                    </td>
                    <td>
                        @if (item.Activo)
                        {
                            @Ajax.ActionLink("Eliminar", "Eliminar", new { id = item.Id }, new AjaxOptions { OnComplete = "complete", UpdateTargetId = "inactivarUser_form" }, new { @class = "btn btn-danger" })
                        }
                        else
                        {
                            @Ajax.ActionLink("Activar", "Eliminar", new { id = item.Id }, new AjaxOptions { OnComplete = "complete", UpdateTargetId = "inactivarUser_form" }, new { @class = "btn btn-success" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="modal-inactivar" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@ViewBag.Titulo</h4>
            </div>
            <div id="inactivarUser_form">

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function complete(context) {
            $('#modal-inactivar').modal('show');
        }

        function cerrarmodal(context) {
            $('#modal-inactivar').modal('close');
        }
    </script>
}